<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h3>Crear Territorio</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="territorioForm" (ngSubmit)="onSubmit()">
        
        <!-- Nombre del Territorio -->
        <div class="form-group">
          <label for="nombre_territorio" class="form-label">Asignar un nombre</label>
          <input id="nombre_territorio" type="text" formControlName="nombre_territorio" class="form-control"
            placeholder="Ingresar nombre">
        </div>

        <label for="cod_territorio" style="margin-top: 15px;">Código de Territorio</label>
        <input type="number" id="cod_territorio" formControlName="cod_territorio" class="form-control">

        <!-- Selección Múltiple de Regiones con Angular Material -->
        <label for="region" style="margin-top: 15px;">Región</label>
        <mat-form-field appearance="outline" style="margin-top: 5px;">
          <mat-label>Seleccionar</mat-label>
          <mat-select formControlName="region_id" multiple (selectionChange)="onRegionChange($event)">
            <mat-option *ngFor="let region of regiones" [value]="region.id">{{ region.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>        

        <!-- Selección Múltiple de Provincias con Angular Material -->
        <label for="region">Provincia</label>
        <mat-form-field appearance="outline">
          <mat-label>Seleccionar</mat-label>
          <mat-select formControlName="provincia_id" multiple (selectionChange)="onProvinciaChange($event)">
            <mat-option *ngFor="let provincia of provincias" [value]="provincia.id">{{ provincia.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Selección Múltiple de Comunas con Angular Material -->
        <label for="region">Comuna</label>
        <mat-form-field appearance="outline">
          <mat-label>Seleccionar</mat-label>
          <mat-select formControlName="comuna_id" multiple (selectionChange)="onComunaChange($event)">
            <mat-option *ngFor="let comuna of comunas" [value]="comuna.id">{{ comuna.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Plazas -->
        <div class="form-group">
          <label for="plazas" class="form-label">Plazas</label>
          <input id="plazas" type="number" formControlName="plazas" class="form-control" placeholder="Ingresar número de plazas">
        </div>

        <!-- Línea -->
        <mat-form-field style="margin-top: 15px;" appearance="outline">
          <mat-label>Seleccionar Línea</mat-label>
          <mat-select formControlName="linea_id">
            <mat-option *ngFor="let linea of lineas" [value]="linea.id">
              {{ linea.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Cuota 1 
        <div class="form-group">
          <label for="cuota_1" class="form-label">Cuota 1</label>
          <input 
            id="cuota_1" 
            type="text" 
            formControlName="cuota_1" 
            class="form-control" 
            placeholder="Ingresar monto"
            (input)="formatCurrency('cuota_1')">
        </div>-->

        <!-- Cuota 2 
        <div class="form-group">
          <label for="cuota_2" class="form-label">Cuota 2</label>
          <input 
            id="cuota_2" 
            type="text" 
            formControlName="cuota_2" 
            class="form-control" 
            placeholder="Ingresar monto"
            (input)="formatCurrency('cuota_2')">
        </div>-->

        <!-- Botón de Envío -->
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="territorioForm.invalid">
            Guardar
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
