<div class="container">
  <h2 class="titulo">Respuestas por Evaluación</h2>
  <p>Aquí puedes visualizar y gestionar las respuestas agrupadas por evaluación.</p>

  <div *ngFor="let evaluacion of respuestasPorEvaluacion | keyvalue" class="evaluacion">
    <div class="evaluacion-header">
      <div class="mispan" style="display: grid;">
        <span class="titulo">{{ evaluacion.key }}</span>
        <p><strong>Total de Preguntas:</strong> {{ evaluacion.value.length }}</p>
      </div>
      <div class="menu">
        <button (mouseenter)="toggleMenu(evaluacion.key)" class="btn-menu">⚙</button>
        <div *ngIf="activeMenuId === evaluacion.key" class="menu-opciones">
          <button *ngIf="expandedId !== evaluacion.key" (click)="expandirEvaluacion(evaluacion.key)">Expandir</button>
          <button *ngIf="expandedId === evaluacion.key" (click)="minimizarEvaluacion()">Minimizar</button>
          <button (click)="editarEvaluacion(evaluacion.value[0]?.id)">Editar</button>

        </div>
      </div>
    </div>
  
    <div *ngIf="expandedId === evaluacion.key" class="detalles">
      <div *ngFor="let respuesta of evaluacion.value">
        <p><strong>Pregunta:</strong> {{ respuesta.pregunta }}</p>
  
        <!-- Respuesta -->
        <p><strong>Posibles opciones de respuestas:</strong>
          {{ respuesta.respuestas.length > 0 ? respuesta.respuestas[0]?.respuesta : 'No se le han grabado posibles respuestas a esta pregunta.' }}
        </p>
  
        <!-- Opciones (si existen) -->
        <div *ngIf="respuesta.respuestas[0]?.opciones?.length > 0">
          <p><strong>Opciones:</strong></p>
          <ul>
            <li *ngFor="let opcion of respuesta.respuestas[0].opciones">
              {{ opcion.label }}
            </li>
          </ul>
        </div>
  
        <!-- Otras opciones -->
        <div *ngIf="respuesta.respuestas[0]?.tipo === 'si_no_noestoyseguro'">
          <p><strong>Opciones:</strong></p>
          <ul>
            <li *ngFor="let opcion of respuesta.respuestas[0].opciones">
              <label>
                <input type="radio" [value]="opcion.label" />
                {{ opcion.label }}
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>    
  </div>
  

  <!-- Paginación -->
  <div class="pagination">
    <button class="volver" (click)="irAPagina(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button class="ir" (click)="irAPagina(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente</button>
  </div>
</div>
