<div class="container">
  <h2 class="titulo">Búsqueda</h2>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

  <div class="search-box">
    <input [(ngModel)]="searchText" (input)="filtrarTerritorios()" type="text" placeholder="Buscar territorio..." />
  
    <select [(ngModel)]="selectedLinea" (change)="filtrarTerritorios()">
      <option value="">Todas las líneas</option>
      <option *ngFor="let linea of lineas" [value]="linea.id">{{ linea.nombre }}</option>
    </select>
  
    <button (click)="filtrarTerritorios()"><span>Buscar</span> <i class="icono-buscar">➕</i></button>
  </div>
  
  <div *ngFor="let territorio of filteredTerritorios" class="territorio">
    <div class="territorio-header">
      <div class="mispan" style="display: grid;">
        <span class="titulo">{{ territorio.nombre_territorio }}</span>
        <p><strong>Línea de intervención:</strong>{{ territorio.linea?.nombre }}</p>
      </div>
      <div class="menu">
        <button (mouseenter)="toggleMenu(territorio.id)" class="btn-menu">⚙</button>
        <div *ngIf="activeMenuId === territorio.id" class="menu-opciones">
          <button *ngIf="expandedId !== territorio.id" (click)="expandirTerritorio(territorio.id)">Expandir</button>
          <button *ngIf="expandedId === territorio.id" (click)="minimizarTerritorio()">Minimizar</button>
          <button *ngIf="expandedId === territorio.id" (click)="editarTerritorio(territorio.id)">Editar</button>
          <button *ngIf="expandedId === territorio.id" (click)="refrescar()">Refrescar</button>
        </div>
      </div>
    </div>
    <div *ngIf="expandedId === territorio.id" class="detalles">
      <p><strong>Código territorio:</strong> {{ territorio.cod_territorio }}</p>
      <p><strong>Región:</strong> {{ territorio.region_nombres }}</p>
      <p><strong>Provincia:</strong> {{ territorio.provincia_nombres }}</p>
      <p><strong>Comuna(s):</strong> {{ territorio.comuna_nombres }}</p>
      <span>Línea de intervención - <strong>{{ territorio.linea?.nombre ?? 'Sin asignar' }}</strong></span>
      <p><strong>Plazas:</strong> {{ territorio.plazas }} </p>
    </div>
  </div>

  <!-- Paginación -->
  <div class="pagination">
    <button class="volver" (click)="irAPagina(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button class="ir" (click)="irAPagina(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente</button>
  </div>
</div>
