/* Reutilizables */
.full-width {
    width: 100%;
  }

  /* Card */
  .card {
    border: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .card-header {
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem 1.5rem;
  }
  .card-body {
    padding: 1.5rem;
  }
  
  /* Título */
  .titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: #404040;
    margin: 0;
  }
  
  /* Labels e inputs */
  .form-label {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 0.3rem;
    display: block;
  }
  .form-control {
    border: 1px solid rgba(51, 51, 51, 0.8705882353);
    border-radius: 0;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    height: 2.5rem;
    transition: border-color 0.3s;
  }
  .form-control:focus {
    border-color: #28a745;
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.25);
  }
  .btn-primary{
    height: 2.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content !important;
    background: var(--Primario-Base, #0F69C4);
    border-radius: 0px;
    border: none;
}
  /* Botones */
  .btn-primary,
  .btn-success {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    height: 2.5rem;
  }
  .btn-success {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #0051A8;
    background: #fff;
    border-radius: 0px;
    color: #0051A8;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}
textarea#motivoNoNna {
  height: 90px;
}
  /* Angular Material selects */
  ::ng-deep .mat-mdc-form-field {
    margin-top: 0.75rem;
  }
  ::ng-deep .mat-mdc-form-field-infix {
    min-height: 2.5rem !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  ::ng-deep .mat-mdc-select-value {
    margin-top: 0.4rem;
  }
  