<div class="container mt-4 p-0">
    <div class="card">
      <div class="card-header">
        <h3 class="titulo">Registro NNA</h3>
      </div>
  
      <div class="card-body">
        <form [formGroup]="nnaForm" (ngSubmit)="onSubmit()">
  
          <!-- Profesional a cargo / Institución ejecutora -->
          <div class="row g-3">
            <div class="col-md-6">
              <label for="institucion" class="form-label">¿A qué institución ejecutora perteneces?</label>
              <mat-form-field appearance="fill" class="w-100">
                <mat-select formControlName="institucion" (selectionChange)="onInstitucionSeleccionada($event.value)">
                  <mat-option value="">Seleccionar *</mat-option>
                  <mat-option *ngFor="let inst of instituciones" [value]="inst.id">
                      {{ inst.nombre_fantasia }} - {{ inst.territorio?.nombre_territorio }} - {{ inst.territorio.linea?.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <label for="profesional" class="form-label">Profesional a cargo</label>
              <mat-form-field appearance="fill" class="w-100" *ngIf="profesionales?.length">
                <mat-select formControlName="profesional">
                  <mat-option value="">Seleccionar *</mat-option>
                  <mat-option *ngFor="let pro of profesionales" [value]="pro.id">
                    {{ pro.nombres }} {{ pro.apellidos }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>


          </div>
  
          <!-- Rut NNA / DV / Validar / Vías de ingreso -->
          <div class="row g-3 mt-3">
            <div class="col-md-4">
              <label for="rutNna" class="form-label">Rut NNA</label>
              <input id="rutNna" type="text" class="form-control"
                     formControlName="rutNna" placeholder="0000000" />
            </div>
            <div class="col-md-1">
              <label for="dvNna" class="form-label">DV</label>
              <input id="dvNna" type="text" class="form-control"
                     formControlName="dvNna" placeholder="0" />
            </div>
            <div class="col-md-2 d-flex align-items-center">
              <button type="button" class="btn btn-primary w-100"
                      (click)="validarRutNna()">
                Validar rut   <mat-icon class="icon">add_circle_outline</mat-icon>
              </button>
            </div>
            <div class="col-md-5 pt-0">
              <label for="viasIngreso" class="form-label">Consultar por las vías de ingreso</label>
              <mat-form-field appearance="fill" class="full-width">
                <mat-select formControlName="viasIngreso">
                  <mat-option value="">Seleccionar *</mat-option>
                  <mat-option *ngFor="let v of viasIngreso" [value]="v">
                    {{ v }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
  
          <!-- Nombres / Apellidos -->
          <div class="row g-3 mt-3">
            <div class="col-md-6">
              <label for="nombresNna" class="form-label">Nombres NNA</label>
              <input id="nombresNna" type="text" class="form-control"
                     formControlName="nombresNna" placeholder="Ingresar nombres" />
            </div>
            <div class="col-md-6">
              <label for="apellidosNna" class="form-label">Apellidos NNA</label>
              <input id="apellidosNna" type="text" class="form-control"
                     formControlName="apellidosNna" placeholder="Ingresar apellidos" />
            </div>
          </div>
  
          <!-- Edad / Sexo -->
          <div class="row g-3 mt-3">
            <div class="col-md-6">
              <label for="edadNna" class="form-label">Edad</label>
              <input id="edadNna" type="text" class="form-control"
                     formControlName="edadNna" placeholder="Años cumplidos al ingreso" />
            </div>
            <div class="col-md-6">
              <label for="sexo" class="form-label">Sexo</label>
              <mat-form-field appearance="fill" class="full-width">
                <mat-select formControlName="sexoNna">
                  <mat-option value="">Seleccionar *</mat-option>
                  <mat-option value="M">Masculino</mat-option>
                  <mat-option value="F">Femenino</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
  
          <!-- Parentescos -->
          <div class="row g-3 mt-3">
            <div class="col-md-6">
              <label for="parentescoASPL" class="form-label">Parentesco con ASPL</label>
              <mat-form-field appearance="fill" class="full-width">
                <mat-select formControlName="parentescoAsplNna">
                  <mat-option value="">Seleccionar *</mat-option>
                  <mat-option *ngFor="let p of parentescosAspl" [value]="p">
                    {{ p }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <label for="parentescoCP" class="form-label">Parentesco con CP</label>
              <mat-form-field appearance="fill" class="full-width">
                <mat-label></mat-label>
                <mat-select formControlName="parentescoCpNna">
                  <mat-option value="">Seleccionar *</mat-option>
                  <mat-option *ngFor="let p of parentescosCp" [value]="p">
                    {{ p }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
  
          <!-- Nacionalidad -->
          <div class="row g-3 mt-3">
            <div class="col-12">
              <label for="nacionalidad" class="form-label">Nacionalidad</label>
              <mat-form-field appearance="fill" class="full-width">
                <mat-select formControlName="nacionalidadNna">
                  <mat-option value="">Seleccionar *</mat-option>
                  <mat-option *ngFor="let n of nacionalidades" [value]="n">
                    {{ n }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
<!-- Participación en programa -->
        <div class="row g-3 mt-4 align-items-center" style="display: block;">
          <div class="col-auto">
            <label class="form-label mb-0">¿Quieres ser parte del programa?</label>
          </div>
          <div class="col-auto d-flex">
            <div class="form-check">
              <input class="form-check-input"
                     type="radio"
                     formControlName="participaPrograma"
                     [value]="true"
                     id="progSiNna" />
              <label class="form-check-label" for="progSiNna">Sí</label>
            </div>
            <div class="form-check ms-3">
              <input class="form-check-input"
                     type="radio"
                     formControlName="participaPrograma"
                     [value]="false"
                     id="progNoNna" />
              <label class="form-check-label" for="progNoNna">No</label>
            </div>
          </div>
        </div>

        <!-- Motivos si No participa -->
        <div class="row g-3 mt-3"
             *ngIf="nnaForm.get('participaPrograma')?.value === false">
          <div class="col-12">
            <label for="motivoNoNna" class="form-label">
              ¿Por qué no quieres ser parte del programa?
            </label>
            <textarea id="motivoNoNna"
                      rows="3"
                      class="form-control"
                      formControlName="motivoNoParticipa"
                      placeholder="Escribe los motivos">
            </textarea>
          </div>
        </div>

        <!-- Descarga y carga de documento firmado si Sí participa -->
        <div class="row g-3 mt-0"
             *ngIf="nnaForm.get('participaPrograma')?.value === true">
          <div class="col-md-3 d-flex" style="align-items: end;">
            <!-- Botón descarga -->
            <button type="button"
                    class="btn btn-primary w-100"
                    (click)="descargarDocumento()">
              Descargar documento <mat-icon class="icon">add_circle_outline</mat-icon>
            </button>
          </div>
          <div class="col-md-6">
            <!-- Upload -->
            <label for="docFirmado" class="form-label">Documento firmado</label>
            <input id="docFirmado"
                   type="file"
                   class="form-control"
                   (change)="onDocumentoFirmadoChange($event)" />
          </div>
        </div>

        <!-- Botón Guardar -->
        <div class="button-container mt-4" style="text-align: -webkit-right;">
          <button type="submit"
                  class="btn btn-success"
                  [disabled]="nnaForm.invalid">
            Guardar  <mat-icon class="icon">add_circle_outline</mat-icon>
          </button>
        </div>
  
        </form>
      </div>
    </div>
  </div>
  