<header class="header">
  <div class="title">
    <a routerLink="/admin">
      <img width="150px" src="assets/images/caminos.jpg" alt="Logo" class="navbar-logo" />
      <!-- <span class="navbar-title">Dashboard User</span> -->
    </a>
  </div>
  <div class="user-menu">
    <img src="assets/images/user.png" alt="Usuario" class="user-icon">
    <span class="user-name">Nombre de usuario</span>
  </div>
    <!-- Botón hamburguesa visible solo en móvil -->
    <div class="mobile-menu">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
</header>
