.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #092039;
  padding: 10px 20px;
  color: #fff;
  z-index: 999999;
  position: fixed;
  width: 100%;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-logo {
  display: block;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-menu {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  font-size: 16px;
  font-weight: 500;
}

/* Botón hamburguesa oculto en escritorio */
.mobile-menu {
  display: none;
}

/* En móviles (máximo 768px) */
@media (max-width: 900px) {
  .mobile-menu {
    display: inline-flex;
  }
  /* Opcional: Si deseas ocultar el menú de usuario en móvil, descomenta la siguiente línea */
  // .user-menu { display: none; }
}
.mat-mdc-icon-button.mat-mdc-button-base {
  cursor: pointer !important;
}
::ng-deep .mat-expansion-panel-header{
  padding: 0px !important;
}
::ng-deep .mat-expansion-panel-header .panel-icon {
  margin-right: 7px !important;
}