<div class="container mt-4 p-0">
    <div class="card">
      <div class="card-header text-white">
        <h3 class="titulo">Editar Línea de Intervención</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="lineaForm" (ngSubmit)="onSubmit()">
  
          <!-- Nombre de la Línea -->
          <div class="form-group">
            <label for="nombre" class="form-label">Nombre de la Línea</label>
            <input id="nombre" type="text" formControlName="nombre" class="form-control"
              placeholder="Ingresar nombre de la línea">
          </div>
  
          <!-- Descripción -->
          <div class="form-group">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea id="descripcion" formControlName="descripcion" class="form-control" rows="3"
              placeholder="Ingresar descripción"></textarea>
          </div>

          <!-- Botones -->
<div class="button-container">
  <button type="button" class="btn btn-secondary" (click)="volver()">Volver</button>
  <button type="submit" class="custom-button"  [disabled]="lineaForm.invalid">
    Guardar
    <mat-icon class="icon">add_circle_outline</mat-icon>
  </button>
</div>
  
        </form>
      </div>
    </div>
  </div>
  