<div class="container my-4">

    <!-- Estatus del progreso -->
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="mb-0">Estatus del progreso</h5>
        <!-- Leyenda y botón -->
        <div class="d-flex justify-content-between align-items-center">
          <ul class="legend-list mb-0 pasos">
            <li><span class="legend-dot bg-info"></span>En progreso</li>
            <li><span class="legend-dot bg-success"></span>Finalizado</li>
            <li><span class="legend-dot bg-danger"></span>Sin terminar</li>
          </ul>
          
        </div>
      </div>
      <div class="card-body">
  
        <!-- Barra de progreso -->
        <div class="position-relative mb-3">
          <div class="progress" style="height: 1rem;">
            <div class="progress-bar bg-info" role="progressbar" style="width: 65%;"></div>
          </div>
          <div class="position-absolute" style="left: 65%; top: -1.25rem; transform: translateX(-50%);">
            <small class="text-dark">65% Progreso</small>
          </div>
          
        </div>
        <button class="btn btn-primary">
          Terminar proceso
        </button>
        
  
      </div>
    </div>
  
    <!-- Detalles del registro -->
    <div class="card mb-3">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span>Detalles del registro</span>
        <a href="#" class="text-decoration-none">
          Editar datos <mat-icon class="icon">add_circle_outline</mat-icon>
        </a>
      </div>
      <div class="card-body">
        <div class="row">
          <!-- Columna izquierda -->
          <div class="col-md-6">
            <dl class="row mb-0">
              <dt class="col-sm-2">Nombres:</dt>
              <dd class="col-sm-10">Texto de ejemplo, Texto de ejemplo</dd>
  
              <dt class="col-sm-2">Apellidos:</dt>
              <dd class="col-sm-10">Texto de ejemplo, Texto de ejemplo</dd>
  
              <dt class="col-sm-2">Rut:</dt>
              <dd class="col-sm-10">00000000-00</dd>
  
              <dt class="col-sm-4">Profesional a cargo:</dt>
              <dd class="col-sm-8">Texto de ejemplo</dd>
  
              <dt class="col-sm-4">Institución ejecutora:</dt>
              <dd class="col-sm-8">Texto de ejemplo, Texto de ejemplo</dd>
  
              <dt class="col-sm-4">Vías de ingreso:</dt>
              <dd class="col-sm-8">Texto de ejemplo</dd>
            </dl>
          </div>
          <!-- Columna derecha -->
          <div class="col-md-6">
            <dl class="row mb-0">
              <dt class="col-sm-2">Edad:</dt>
              <dd class="col-sm-10">00 años</dd>
  
              <dt class="col-sm-2">Sexo:</dt>
              <dd class="col-sm-10">Texto de ejemplo</dd>
  
              <dt class="col-sm-4">Parentesco con ASPL:</dt>
              <dd class="col-sm-8">Texto de ejemplo</dd>
  
              <dt class="col-sm-4">Parentesco con CP:</dt>
              <dd class="col-sm-8">Texto de ejemplo</dd>
  
              <dt class="col-sm-4">Nacionalidad:</dt>
              <dd class="col-sm-8">Texto de ejemplo</dd>
              <dd class="col-sm-12">
                <a href="#" class="text-decoration-none documento">
                  <mat-icon class="icon">add_circle_outline</mat-icon> Documento de asentimiento adjunto
                </a>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Persona privada/o de libertad -->
    <div class="card mb-3">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span>Persona privada/o de libertad</span>
        <a href="#" class="text-decoration-none">
          Editar datos <mat-icon class="icon">add_circle_outline</mat-icon>
        </a>
      </div>
      <div class="card-body">
        <div class="row">
          <!-- Izquierda -->
          <div class="col-md-6">
            <dl class="row mb-0">
              <dt class="col-sm-2">Nombres:</dt>
              <dd class="col-sm-10">Texto de ejemplo, Texto de ejemplo</dd>
  
              <dt class="col-sm-2">Apellidos:</dt>
              <dd class="col-sm-10">Texto de ejemplo, Texto de ejemplo</dd>
  
              <dt class="col-sm-2">Rut:</dt>
              <dd class="col-sm-10">00000000-00</dd>
  
              <dt class="col-sm-2">Sexo:</dt>
              <dd class="col-sm-10">Texto de ejemplo</dd>
            </dl>
          </div>
          <!-- Derecha -->
          <div class="col-md-6">
            <dl class="row mb-0">
              <dt class="col-sm-4">Centro penal:</dt>
              <dd class="col-sm-8">Texto de ejemplo, Texto de ejemplo</dd>
  
              <dt class="col-sm-4">Región del centro penal:</dt>
              <dd class="col-sm-8">Texto de ejemplo</dd>
  
              <dt class="col-sm-4">Nacionalidad:</dt>
              <dd class="col-sm-8">Texto de ejemplo</dd>
              <dd class="col-sm-12">
                <a href="#" class="text-decoration-none documento">
                  <mat-icon class="icon">add_circle_outline</mat-icon> Documento de consentimiento adjunto
                </a>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Cuidador/a -->
    <div class="card mb-3">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span>Cuidador/a</span>
        <a href="#" class="text-decoration-none">
          Editar datos <mat-icon class="icon">add_circle_outline</mat-icon>
        </a>
      </div>
      <div class="card-body">
        <div class="row">
          <!-- Izquierda -->
          <div class="col-md-6">
            <dl class="row mb-0">
              <dt class="col-sm-2">Nombres:</dt>
              <dd class="col-sm-10">Texto de ejemplo, Texto de ejemplo</dd>
  
              <dt class="col-sm-2">Apellidos:</dt>
              <dd class="col-sm-10">Texto de ejemplo, Texto de ejemplo</dd>
  
              <dt class="col-sm-2">Rut:</dt>
              <dd class="col-sm-10">00000000-00</dd>
  
              <dt class="col-sm-2">Sexo:</dt>
              <dd class="col-sm-10">Texto de ejemplo</dd>
  
              <dt class="col-sm-2">Edad:</dt>
              <dd class="col-sm-10">00 años</dd>
            </dl>
          </div>
          <!-- Derecha -->
          <div class="col-md-6">
            <dl class="row mb-0">
              <dt class="col-sm-4">Parentesco CP con ASPL:</dt>
              <dd class="col-sm-8">Texto de ejemplo</dd>
  
              <dt class="col-sm-4">Parentesco NNA con CP:</dt>
              <dd class="col-sm-8">Texto de ejemplo</dd>
  
              <dt class="col-sm-4">Nacionalidad:</dt>
              <dd class="col-sm-8">Texto de ejemplo</dd>
            </dl>
            <dd class="col-sm-12">
              <a href="#" class="text-decoration-none documento">
                <mat-icon class="icon">add_circle_outline</mat-icon> Documento de consentimiento adjunto
              </a>
            </dd>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  