<div class="container my-4">
  <div class="row gy-4">

    <div class="col-md-3" *ngFor="let card of cards">
      <div class="card card-top-{{card.variant}} h-100">
        <div class="card-body text-center d-flex flex-column justify-content-between">
          <h5 class="card-title">{{ card.title }}</h5>


            <button *ngIf="card.title !== 'ejecución de instrumentos'" class="btn btn-primary w-100 mb-3" [routerLink]="card.primaryUrl">
              {{ card.primaryLabel }} <i class="bi bi-plus-circle ms-1"></i>
              <mat-icon class="icon">add_circle_outline</mat-icon>
            </button>
            
            <button class="btn btn-success w-100" [routerLink]="card.secondaryUrl">
              {{ card.secondaryLabel }} <i class="bi bi-plus-circle ms-1"></i>
              <mat-icon class="icon">add_circle_outline</mat-icon>
            </button>
            
        
        </div>
      </div>
    </div>

  </div>
  <!--<div class="row gy-4">
    <div class="chart-container">
      <canvas id="statsChart"></canvas>
    </div>
  </div>-->
</div>
