<div class="container mt-4">
    <div class="card">
        <div class="card-header text-white">
            <h3 class="titulo">Crear Plan de Intervención</h3>
        </div>

        <div class="card-body">
            <form [formGroup]="planForm" (ngSubmit)="onSubmit()">
                
                <!-- Nombre del Plan -->
                <div class="form-group">
                    <label for="nombre" class="form-label">Nombre del Plan</label>
                    <input id="nombre" type="text" formControlName="nombre" class="form-control" placeholder="Ingresar nombre">
                </div>

                <!-- Línea de Intervención -->
                <mat-form-field style="margin-top: 15px;" appearance="outline">
                    <mat-label>Seleccionar Línea</mat-label>
                    <mat-select formControlName="linea_id">
                      <mat-option *ngFor="let linea of lineas" [value]="linea.id">
                        {{ linea.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                <!-- Descripción -->
                <div class="form-group" style="margin-bottom: 20px;">
                    <label for="descripcion" class="form-label">Descripción</label>
                    <textarea id="descripcion" formControlName="descripcion" class="form-control" rows="3" placeholder="Ingresar descripción"></textarea>
                </div>

                <!-- Evaluaciones -->
                <div formArrayName="evaluaciones">
                    <div style="margin-bottom: 15px;padding-top: 15px;" class="form-control" *ngFor="let evaluacion of evaluacionesFormArray.controls; let i = index; trackBy: trackById"
                        [formGroupName]="i">

                        <h4>Instrumento {{ i + 1 }}</h4>

                        <!-- Campo para el nombre de la Evaluación -->
                        <label for="evaluacion-{{ i }}" class="form-label">Nombre del instrumento</label>
                        <input  id="evaluacion-{{ i }}" type="text"
                            formControlName="nombre" class="form-control"/>

                        <!-- Preguntas de la Evaluación -->
                        <div formArrayName="preguntas">
                            <div *ngFor="let pregunta of getPreguntas(i).controls; let j = index; trackBy: trackById"
                                [formGroupName]="j">
                                
                                <label for="pregunta-{{ j }}" style="margin-top:5px;" class="form-label">Pregunta</label>
                                <input id="pregunta-{{ j }}" type="text"
                                    formControlName="pregunta" class="form-control"/>
                                    <div class="button-container2">    
                                        <!-- Botón para eliminar pregunta -->
                                        <button style="margin-top: 15px; margin-bottom:15px;" type="button"
                                        class="btn custom-align rojo" (click)="confirmarEliminarPregunta(i, j)">
                                            Eliminar Pregunta <mat-icon class="icon">add_circle_outline</mat-icon>
                                        </button>
                                    </div>
                            </div>
                        </div>

                        <div class="mt-4 mb-4 form-group button-container2">
                            <!-- Botón para agregar pregunta -->
                            <button  type="button"
                            class="btn custom-align azul" (click)="agregarPregunta(i)">
                                Agregar Pregunta <mat-icon class="icon">add_circle_outline</mat-icon>
                            </button>
                            <!-- Botón para eliminar evaluación -->
                            <button  type="button"
                            class="btn custom-align rojo" (click)="confirmarEliminarEvaluacion(i)">
                                Eliminar Instrumento <mat-icon class="icon">add_circle_outline</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group button-container">
                    <!-- Botón para agregar Evaluación -->
                <button style="margin-top: 20px;display: flex;align-items: center;" type="button" class="custom-button" (click)="agregarEvaluacion()"
                        aria-label="Agregar nueva evaluación">
                    Agregar Instrumento <mat-icon class="icon">add_circle_outline</mat-icon>
                </button>
                    <!-- Botón de Guardar Plan -->
                <button style="margin-top: 20px;display: flex;align-items: center;" type="submit" class="custom-button"
                    [disabled]="!(puedeGuardar$ | async)">
                    Guardar <mat-icon class="icon">add_circle_outline</mat-icon>
                </button>
                </div>

            </form>
        </div>
    </div>
</div>
