<div class="sidebar" id="sidebar" [class.open]="isSidebarOpen">
  <button class="close-btn mobile-only" (click)="closeSidebar()">&times;</button>
  <nav>
    <ul>
      <!-- lineas -->
      <li (click)="toggleMenu('lineas')" [class.open]="menuState['lineas']">
        <i class="fas fa-newspaper"></i>Lineas de intervención
        <ul *ngIf="menuState['lineas']">
          <li><a routerLink="/admin/gestion-lineas/crear">Crear linea de intervención</a></li>
          <li><a routerLink="/admin/gestion-lineas/listar">Ver todas las lineas de intervención</a></li>
        </ul>
      </li>

      <!-- Territorios -->
      <li (click)="toggleMenu('territorios')" [class.open]="menuState['territorios']">
        <i class="fas fa-newspaper"></i>Gestor de Territorios
        <ul *ngIf="menuState['territorios']">
          <li><a routerLink="/admin/gestion-territorios/crear">Agregar nuevo territorio</a></li>
          <li><a routerLink="/admin/gestion-territorios/listar">Ver todos los territorios</a></li>
        </ul>
      </li>

      <!-- Planes de intervencion -->
      <li (click)="toggleMenu('plandeintervencion')" [class.open]="menuState['plandeintervencion']">
        <i class="fas fa-newspaper"></i>Gestor de planes de intervención
        <ul *ngIf="menuState['plandeintervencion']">
          <li><a routerLink="/admin/gestion-plandeintervencion/crear">Agregar nuevo plan de intervención</a></li>
          <li><a routerLink="/admin/gestion-plandeintervencion/listar">Ver todos los planes de intervención</a></li>
        </ul>
      </li>

      <!-- Instituciones ejecutoras -->
      <li (click)="toggleMenu('institucionesejecutoras')" [class.open]="menuState['institucionesejecutoras']">
        <i class="fas fa-newspaper"></i>Gestor de Instituciones ejecutoras
        <ul *ngIf="menuState['institucionesejecutoras']">
          <li><a routerLink="/admin/gestion-institucionesejecutoras/crear">Agregar nueva instituciones ejecutoras</a></li>
          <li><a routerLink="/admin/gestion-institucionesejecutoras/listar">Ver todas las institucionesejecutoras</a></li>
        </ul>
      </li>
         
      <!-- Opciones adicionales para móvil -->
      <li class="mobile-only"><a routerLink="admin/miperfil"><i class="fas fa-user"></i> Mi Perfil</a></li>
      <li class="mobile-only"><a routerLink="/admin"><i class="fas fa-user"></i> Dashboard Admin</a></li>
      <li class="mobile-only"><a routerLink="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
  </nav>
</div>
<div class="overlay" *ngIf="isSidebarOpen" (click)="closeSidebar()"></div>
