<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h3>Editar Territorio</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="territorioForm" (ngSubmit)="onSubmit()">
        <!-- Nombre del Territorio -->
        <div class="form-group">
          <label>Nombre del Territorio</label>
          <input type="text" formControlName="nombre_territorio" class="form-control">
        </div>

        <label style="margin-top: 15px;">Código de Territorio</label>
        <input type="number" formControlName="cod_territorio" class="form-control">

        <!-- Selección de Regiones -->
        <div class="form-group">
          <label style="margin-top: 15px;">Región</label>
          <mat-form-field appearance="outline" class="full-width">
            <mat-select formControlName="region_id" multiple (selectionChange)="onRegionChange($event)">
              <mat-option *ngFor="let region of regiones" [value]="region.id">
                {{ region.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Selección de Provincias -->
        <div class="form-group">
          <label>Provincia</label>
          <mat-form-field appearance="outline" class="full-width">
            <mat-select formControlName="provincia_id" multiple (selectionChange)="onProvinciaChange($event)">
              <mat-option *ngFor="let provincia of provincias" [value]="provincia.id">
                {{ provincia.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Selección de Comunas -->
        <div class="form-group">
          <label>Comuna</label>
          <mat-form-field appearance="outline" class="full-width">
            <mat-select formControlName="comuna_id" multiple>
              <mat-option *ngFor="let comuna of comunas" [value]="comuna.id">
                {{ comuna.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Plazas -->
        <div class="form-group">
          <label for="plazas" class="form-label">Plazas</label>
          <input id="plazas" type="number" formControlName="plazas" class="form-control" placeholder="Ingresar número de plazas">
        </div>

        <!-- Línea -->
        <div class="form-group" style="margin-top: 15px;">
          <label for="linea" class="form-label">Línea de intervención</label>
          <mat-form-field appearance="outline" class="full-width">
            <mat-select formControlName="linea">
              <mat-option value="">Seleccionar</mat-option>
              <mat-option value="1">Línea 1</mat-option>
              <mat-option value="2">Línea 2</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Botones -->
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-block">Guardar</button>
          <button type="button" class="btn btn-secondary btn-block ml-2" (click)="volver()">Volver</button>
        </div>
      </form>
    </div>
  </div>
</div>
